<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live Chart Service</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/billboard.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- JS -->
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/static/js/billboard.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>  
  </head>
  <body style="padding-top:70px;">
    <!-- navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="border-radius:0em;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">PET BUDDY</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a id="live" href="#live">Live Report<span class="sr-only">(current)</span></a></li>
            <li><a id="daily" href="#daily">Daily Report</a></li>
            <li><a id="weekly" href="#weekly">Weekly Report</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    
    <a class="btn btn-default btn-lg" id="refresh">
        <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
    </a>

    <div id="chart" style="width: 1000px; height: 400px; margin: 0 auto"></div>
    
    <!--live-->
    <script src="/static/js/donut.js"></script>

    <!--daliy-->
    <script src="/static/js/stackedbar.js"></script>

    <!--weekly-->
    <script src="/static/js/bar.js"></script>
    
    <script src="/static/js/websocket.js"></script>  
    <script type="text/javascript" src="/static/js/etc.js"></script>
  </body>
</html>
