<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live Chart Service</title>

    <!-- Bootstrap and libraries -->
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
  </head>
  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-default" style="border-radius:0em;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">PET BUDDY</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active" id="live"><a href="#live">Live Report<span class="sr-only">(current)</span></a></li>
            <li id="daily"><a href="#daily">Daily Report</a></li>
            <li id="weekly"><a href="#weekly">Weekly Report</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <button type="button" class="btn btn-default btn-lg" id="refresh">
        <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
    </button>
    <!--for circle <div id="container" style="width: 400px; height: 400px; margin: 0 auto"></div>-->
    <div id="container" style="width: 1000px; height: 400px; margin: 0 auto"></div>
    
    <script src="/static/js/stacked_bar.js"></script>
    <script src="/static/js/websocket.js"></script>  
  </body>
</html>
